/* 
    COLORS
*/
$main-color: #FCAE26;
$violet:#824FE3;
$orange: #FAEBD0;
$light-violet:#e2d8f5;
$light-red:#FBDCD2;
$light-green:#C8EAE8;
$white:#ffffff;
$light-grey:#FAFAFA;
$font-color:#464646;
$footer-color:#222222;
$footer-color-line:#151515;
$footer-text:#8A8E9B;
$footer-text-line:#444445;
$font-color: #464646;
$footer-anchor: #333333;
$footer-policy: #626263;
$border-color:#e4e4e5;
$light-red-orange:#de6437;
$purpur:#f8e0d7;
$fiolet-light:#e3dcf8;
$fiolet:#7550de;
$grean-light:#dfeeec;
$grean:#60a99e;
$grey:#585858;
$dark:#272727;
$fone:#fafafa;

// FONTS
$font-title: 'Open_sans';
$font-text: 'Ubuntu';

//Font-size
$base-font-size: 18px;
