/* 
    COLORS
*/
$main-color: #FCAE26;
$violet:#824FE3;
$orange: #FAEBD0;
$light-violet: #e2d8f5;
$light-red:#FBDCD2;
$light-green:#C8EAE8;
$white:#ffffff;
$light-grey:#FAFAFA;
$font-color:#464646;
$footer-color:#222222;
$footer-color-line:#151515;
$footer-text:#8A8E9B;
$footer-text-line:#444445;
$footer-anchor: #333333;
$footer-policy: #626263;

// FONTS
$font-title: 'Open_sans';
$font-text: 'Ubuntu';

// FONT-SIZE
$base-font-size:18px;